In [1]:
import pandas as pd

In [2]:
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}

In [3]:
visitors_1 = pd.DataFrame(data)
print(visitors_1)

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

In [4]:
visitors_1

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

In [7]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

#zipped = list(zip(list_labels, list_cols))
list(zip(list_labels, list_cols))

[('city', ['Austin', 'Dallas', 'Austin', 'Dallas']),
 ('weekday', ['Sun', 'Sun', 'Mon', 'Mon']),
 ('visitor', [139, 237, 326, 456])]

In [6]:
visitors_2 = pd.DataFrame(dict(zipped))
visitors_2

     city weekday  visitor
0  Austin     Sun      139
1  Dallas     Sun      237
2  Austin     Mon      326
3  Dallas     Mon      456

In [10]:
visitors_1.groupby(by="weekday")['visitor'].mean()

## 如果想找的是weekday的最大visitor數量
#visitors_1.groupby(by="weekday")['visitor'].max()

weekday
Mon    391.0
Sun    188.0
Name: visitor, dtype: float64

In [11]:
friends= ["芸芸", "萱萱", "琳琳"]
stars = ["天秤", "金牛", "雙魚"]
likes = ["餅乾", "巧克力", "草莓"]
zipped = zip(friends, stars, likes)
print(list(zipped))

[('芸芸', '天秤', '餅乾'), ('萱萱', '金牛', '巧克力'), ('琳琳', '雙魚', '草莓')]